In [ ]:
import pandas as pd
import ast

# loading the datasets

df1 = pd.read_csv("netflix.csv")
df2 = pd.read_csv("amazon.csv")
df3 = pd.read_csv("disney.csv")
df4 = pd.read_csv("hbo.csv")
df5 = pd.read_csv("hulu.csv")
df6 = pd.read_csv("raku.csv")

In [ ]:
# adding column in each dataset for ott platform 

df1['ott_platform'] = 'Netflix'
df2['ott_platform'] = 'Amazon'
df3['ott_platform'] = 'Disney'
df4['ott_platform'] = 'HBO'
df5['ott_platform'] = 'Hulu'
df6['ott_platform'] = 'Raku'

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5850 entries, 0 to 5849
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    5850 non-null   object
 1   title                 5849 non-null   object
 2   type                  5850 non-null   object
 3   description           5832 non-null   object
 4   release_year          5850 non-null   int64
 5   age_certification     3231 non-null   object
 6   runtime               5850 non-null   int64
 7   genres                5850 non-null   object
 8   production_countries  5850 non-null   object
 9   seasons               2106 non-null   float64
 10  imdb_id               5447 non-null   object
 11  imdb_score            5368 non-null   float64
 12  imdb_votes            5352 non-null   float64
 13  tmdb_popularity       5759 non-null   float64
 14  tmdb_score            5539 non-null   float64
 15  ott_platform          5850 non-null   object
dtypes: float64(5), int64(2), object(9)
memory usage: 731.4+ KB

In [4]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10873 entries, 0 to 10872
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10873 non-null  object
 1   title                 10873 non-null  object
 2   type                  10873 non-null  object
 3   description           10729 non-null  object
 4   release_year          10873 non-null  int64
 5   age_certification     3688 non-null   object
 6   runtime               10873 non-null  int64
 7   genres                10873 non-null  object
 8   production_countries  10873 non-null  object
 9   seasons               1551 non-null   float64
 10  imdb_id               10172 non-null  object
 11  imdb_score            9765 non-null   float64
 12  imdb_votes            9753 non-null   float64
 13  tmdb_popularity       10302 non-null  float64
 14  tmdb_score            8747 non-null   float64
 15  ott_platform          10873 non-null  object
dtypes: float64(5), int64(2), object(9)
memory usage: 1.3+ MB

In [5]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1535 entries, 0 to 1534
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1535 non-null   object
 1   title                 1535 non-null   object
 2   type                  1535 non-null   object
 3   description           1529 non-null   object
 4   release_year          1535 non-null   int64
 5   age_certification     1210 non-null   object
 6   runtime               1535 non-null   int64
 7   genres                1535 non-null   object
 8   production_countries  1535 non-null   object
 9   seasons               415 non-null    float64
 10  imdb_id               1133 non-null   object
 11  imdb_score            1108 non-null   float64
 12  imdb_votes            1105 non-null   float64
 13  tmdb_popularity       1524 non-null   float64
 14  tmdb_score            1426 non-null   float64
 15  ott_platform          1535 non-null   object
dtypes: float64(5), int64(2), object(9)
memory usage: 192.0+ KB

In [6]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3294 entries, 0 to 3293
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    3294 non-null   object
 1   title                 3294 non-null   object
 2   type                  3294 non-null   object
 3   description           3282 non-null   object
 4   release_year          3294 non-null   int64
 5   age_certification     2086 non-null   object
 6   runtime               3294 non-null   int64
 7   genres                3294 non-null   object
 8   production_countries  3294 non-null   object
 9   seasons               756 non-null    float64
 10  imdb_id               2968 non-null   object
 11  imdb_score            2922 non-null   float64
 12  imdb_votes            2911 non-null   float64
 13  tmdb_popularity       3261 non-null   float64
 14  tmdb_score            3026 non-null   float64
 15  ott_platform          3294 non-null   object
dtypes: float64(5), int64(2), object(9)
memory usage: 411.9+ KB

In [7]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2398 entries, 0 to 2397
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    2398 non-null   object
 1   title                 2398 non-null   object
 2   type                  2398 non-null   object
 3   description           2385 non-null   object
 4   release_year          2398 non-null   int64
 5   age_certification     1713 non-null   object
 6   runtime               2398 non-null   int64
 7   genres                2398 non-null   object
 8   production_countries  2398 non-null   object
 9   seasons               1330 non-null   float64
 10  imdb_id               2263 non-null   object
 11  imdb_score            2232 non-null   float64
 12  imdb_votes            2231 non-null   float64
 13  tmdb_popularity       2348 non-null   float64
 14  tmdb_score            2238 non-null   float64
 15  ott_platform          2398 non-null   object
dtypes: float64(5), int64(2), object(9)
memory usage: 299.9+ KB

In [8]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1904 entries, 0 to 1903
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1904 non-null   object
 1   title                 1904 non-null   object
 2   type                  1904 non-null   object
 3   description           1824 non-null   object
 4   release_year          1904 non-null   int64
 5   age_certification     273 non-null    object
 6   runtime               1904 non-null   int64
 7   genres                1904 non-null   object
 8   production_countries  1904 non-null   object
 9   seasons               1470 non-null   float64
 10  imdb_id               1456 non-null   object
 11  imdb_score            1370 non-null   float64
 12  imdb_votes            1370 non-null   float64
 13  tmdb_popularity       1842 non-null   float64
 14  tmdb_score            1505 non-null   float64
 15  ott_platform          1904 non-null   object
dtypes: float64(5), int64(2), object(9)
memory usage: 238.1+ KB

In [ ]:
# taking only the required columns 

df11 = df1[['title', 'type', 'release_year', 'age_certification', 'runtime', 'genres', 'production_countries', 'imdb_score', 'imdb_votes', 
            'ott_platform']]

df22 = df2[['title', 'type', 'release_year', 'age_certification', 'runtime', 'genres', 'production_countries', 'imdb_score', 'imdb_votes', 
            'ott_platform']]

df33 = df3[['title', 'type', 'release_year', 'age_certification', 'runtime', 'genres', 'production_countries', 'imdb_score', 'imdb_votes', 
            'ott_platform']]

df44 = df4[['title', 'type', 'release_year', 'age_certification', 'runtime', 'genres', 'production_countries', 'imdb_score', 'imdb_votes', 
            'ott_platform']]

df55 = df5[['title', 'type', 'release_year', 'age_certification', 'runtime', 'genres', 'production_countries', 'imdb_score', 'imdb_votes', 
            'ott_platform']]

df66 = df6[['title', 'type', 'release_year', 'age_certification', 'runtime', 'genres', 'production_countries', 'imdb_score', 'imdb_votes', 
            'ott_platform']]

In [ ]:
# combining every dataset to make a final dataset

combined_df = pd.concat([df11, df22, df33, df44, df55, df66], ignore_index=True)

In [11]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25854 entries, 0 to 25853
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 25853 non-null  object
 1   type                  25854 non-null  object
 2   release_year          25854 non-null  int64
 3   age_certification     12201 non-null  object
 4   runtime               25854 non-null  int64
 5   genres                25854 non-null  object
 6   production_countries  25854 non-null  object
 7   imdb_score            22765 non-null  float64
 8   imdb_votes            22722 non-null  float64
 9   ott_platform          25854 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 2.0+ MB

In [12]:
combined_df.describe()

       release_year       runtime    imdb_score    imdb_votes
count  25854.000000  25854.000000  22765.000000  2.272200e+04
mean    2008.275470     77.745339      6.384652  2.421962e+04
std       20.391029     37.261919      1.292754  9.969027e+04
min     1901.000000      0.000000      1.000000  5.000000e+00
25%     2008.000000     47.000000      5.600000  2.050000e+02
50%     2016.000000     84.000000      6.500000  1.183000e+03
75%     2020.000000    101.000000      7.300000  7.505000e+03
max     2023.000000    940.000000      9.900000  2.555504e+06

In [13]:
combined_df.sample(5)

,title,type,release_year,age_certification,runtime,genres,production_countries,imdb_score,imdb_votes,ott_platform
22955,The Kids Are Alright,SHOW,2018,TV-PG,21,['comedy'],['US'],7.9,3349.0,Hulu
329,The 4400,SHOW,2004,TV-14,44,"['drama', 'scifi', 'thriller']",['US'],7.3,45249.0,Netflix
13801,Petromax,MOVIE,2019,PG-13,128,"['horror', 'comedy']",['IN'],5.3,416.0,Amazon
22917,The Limehouse Golem,MOVIE,2017,NaN,109,"['thriller', 'horror', 'crime']",['GB'],6.3,21055.0,Hulu
7670,Gallagher: Mad As Hell,MOVIE,1981,R,95,['comedy'],['US'],7.2,56.0,Amazon

In [ ]:
combined_df1 = combined_df.copy()

# creating a new dataset to explode some column values
 
# Safely convert strings like "['action', 'drama']" into real lists
combined_df1['genres'] = combined_df1['genres'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else [])
combined_df1['production_countries'] = combined_df1['production_countries'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else [])

# Explode genres and production_countries
combined_df1 = combined_df1.explode('genres').explode('production_countries')

# Handle NaNs in both the datasets 
# df['age_certification'] = df['age_certification'].fillna('Unrated')
combined_df1['imdb_score'] = combined_df1['imdb_score'].fillna(0)
combined_df1['imdb_votes'] = combined_df1['imdb_votes'].fillna(0)

combined_df['imdb_score'] = combined_df['imdb_score'].fillna(0)
combined_df['imdb_votes'] = combined_df['imdb_votes'].fillna(0)

In [15]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25854 entries, 0 to 25853
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 25853 non-null  object
 1   type                  25854 non-null  object
 2   release_year          25854 non-null  int64
 3   age_certification     12201 non-null  object
 4   runtime               25854 non-null  int64
 5   genres                25854 non-null  object
 6   production_countries  25854 non-null  object
 7   imdb_score            25854 non-null  float64
 8   imdb_votes            25854 non-null  float64
 9   ott_platform          25854 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 2.0+ MB

In [16]:
combined_df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 75137 entries, 0 to 25853
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 75136 non-null  object
 1   type                  75137 non-null  object
 2   release_year          75137 non-null  int64
 3   age_certification     42711 non-null  object
 4   runtime               75137 non-null  int64
 5   genres                74641 non-null  object
 6   production_countries  73309 non-null  object
 7   imdb_score            75137 non-null  float64
 8   imdb_votes            75137 non-null  float64
 9   ott_platform          75137 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 6.3+ MB

In [ ]:
# saving the dataframes for tableau visualization

# combined_df.to_csv('movies_data.csv', index=False)
# combined_df1.to_csv('movies_data_2.csv', index=False)

combined_df.to_excel('movies_data.xlsx', index=False)
combined_df1.to_excel('movies_data_2.xlsx', index=False)